:root {
  --col-dark: rgb(39, 45, 53);
  --col-mid: rgb(81, 111, 150);
  --col-light: rgb(192, 207, 228);
  --col-lighter: aliceblue;
  --transp: rgba(0,0,0,0);
  --btn-fg-1: rgb(47, 0, 255);
  --btn-fg-1-h: white;
  --btn-bg-1: var(--transp);
  --btn-bg-1-h: var(--btn-fg-1);
  --btn-fg-2: rgb(133, 133, 133);
  --btn-fg-2-h: white;
  --btn-bg-2: var(--transp);
  --btn-bg-2-h: var(--btn-fg-2);
}

html#page-login, html#page-login body {
  height: 100%;
}

html#page-login body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main#main-login {
  background-color: var(--col-lighter);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.btn.btn-small {
  padding: 0.25rem;
}

.btn.btn-transition-up {
  background-size: 100% 200%;
  background-position: bottom;
  -webkit-transition: background-image 0.3s linear, background-position 0.3s linear;
  transition: background-image 0.3s linear, background-position 0.3s linear;
}

.btn.btn-transition-up:hover {
  background-position: top;
}

.btn.btn-transition-down {
  background-size: 100% 200%;
  background-position: top;
  -webkit-transition: background-image 0.3s linear, background-position 0.3s linear;
  transition: background-image 0.3s linear, background-position 0.3s linear;
}

.btn.btn-transition-down:hover {
  background-position: bottom;
}

.btn.btn-1 {
  background-color: var(--btn-bg-1);
  color: var(--btn-fg-1);
  border-color: var(--btn-fg-1);
}

.btn.btn-1:hover {
  background-color: var(--btn-bg-1-h);
  color: var(--btn-fg-1-h);
  border-color: var(--btn-fg-1-h);
}

.btn.btn-1.btn-transition-up {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, var(--btn-bg-1)), color-stop(50%, var(--btn-bg-1-h)));
  background-image: linear-gradient(to top, var(--btn-bg-1) 50%, var(--btn-bg-1-h) 50%);
}

.btn.btn-1.btn-transition-down {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, var(--btn-bg-1)), color-stop(50%, var(--btn-bg-1-h)));
  background-image: linear-gradient(to bottom, var(--btn-bg-1) 50%, var(--btn-bg-1-h) 50%);
}

.btn.btn-2 {
  background-color: var(--btn-bg-2);
  color: var(--btn-fg-2);
  border-color: var(--btn-fg-2);
}

.btn.btn-2:hover {
  background-color: var(--btn-bg-2-h);
  color: var(--btn-fg-2-h);
  border-color: var(--btn-fg-2-h);
}

.btn.btn-2.btn-transition-up {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, var(--btn-bg-2)), color-stop(50%, var(--btn-bg-2-h)));
  background-image: linear-gradient(to top, var(--btn-bg-2) 50%, var(--btn-bg-2-h) 50%);
}

.btn.btn-2.btn-transition-down {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, var(--btn-bg-2)), color-stop(50%, var(--btn-bg-2-h)));
  background-image: linear-gradient(to bottom, var(--btn-bg-2) 50%, var(--btn-bg-2-h) 50%);
}

.btn.btn-1.btn-transition-up, .btn.btn-1.btn-transition-down, .btn.btn-2.btn-transition-up, .btn.btn-2.btn-transition-down {
  background-color: var(--transp);
}

a {
  text-decoration: none;
  color: inherit;
}

#iscrivitiP {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.5em;
}

#iscrivitiImg {
  text-align: right;
}

#alert button {
  margin-right: 3%;
  border: none;
  background-color: inherit;
}

#alert button:hover {
  background-color: white;
}

img.img-responsive {
  max-width: 100%;
  max-height: 400px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

legend {
  font-size: inherit;
}

#fset, #intset {
  display: inline-block;
}

textarea {
  background: #fff;
}

h3 {
  font-size: initial;
}

#divCommento {
  background-color: #f8f9fa;
}

#btnTop {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 1;
}

.card-footer {
  background-color: darkgray;
}

.comLunghi {
  word-wrap: break-word;
  line-break: anywhere;
}

footer {
  clear: both;
}

footer img {
  max-width: 15%;
  min-width: 3%;
}

footer .footer-info {
  background-color: rgba(0, 0, 0, 0.2);
}
/*# sourceMappingURL=style.css.map */