$nButtons: 4;

:root {
    --col-dark: rgb(39, 45, 53);
    --col-mid: rgb(81, 111, 150);
    --col-light: rgb(192, 207, 228);
    --col-lighter: aliceblue;
    --transp: rgba(0,0,0,0);

    --btn-fg-1: rgb(47, 0, 255);
    --btn-fg-1-h: white;
    --btn-bg-1: var(--transp);
    --btn-bg-1-h: var(--btn-fg-1);
    
    --btn-fg-2: rgb(133, 133, 133);
    --btn-fg-2-h: white;
    --btn-bg-2: var(--transp);
    --btn-bg-2-h: var(--btn-fg-2);
    
    --btn-fg-3: rgb(0, 172, 0);
    --btn-fg-3-h: white;
    --btn-bg-3: var(--transp);
    --btn-bg-3-h: var(--btn-fg-3);
    
    --btn-fg-4: rgb(255, 0, 0);
    --btn-fg-4-h: white;
    --btn-bg-4: var(--transp);
    --btn-bg-4-h: var(--btn-fg-4);
}

html {
    &#page-login, &#page-signup, &#page-homepage, &#page-settings, &#page-notifications, &#page-profile, &#page-search, &#page-privacy {
        main {
            background-color: var(--col-lighter);
        }
    }

    &#page-login, &#page-settings, &#page-search, &#page-notifications {
        &, body {
            height: 100%;
        }

        body {
            display: flex;
            flex-direction: column;
        }

        main {
            flex-grow: 1;
        }
    }

    &#page-signup, &#page-login {
        header {
            background: linear-gradient(to bottom, var(--col-mid) 0%, var(--transp) 100%);
        }
    }

    &#page-notifications {
        h2 {
            font-variant: all-petite-caps;
            text-transform: uppercase;
            font-weight: lighter;
            line-height: 1;
        }
    }

    &#page-profile {
        #username::before {
            content: "- ";
        }
    }
}

body {
    &>header {
        position: fixed;
        width: 100%;
        z-index: 1;
    }
}

@mixin image-wrapper($wrapper_name, $w, $h, $minw, $minh, $maxw, $maxh) {
    .#{$wrapper-name} {
        width: $w;
        height: $h;
        min-width: $minw;
        min-height: $minh;
        max-width: $maxw;
        max-height: $maxh;
        box-sizing: content-box;

        &.wrapper-fixed-max {
            width: $maxw;
            height: $maxh;
            flex-shrink: 0;
        }
        
        &.wrapper-fixed-min {
            width: $minw;
            height: $minh;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }
}

@include image-wrapper("image-wrapper", 10vw, 10vw, 60px, 60px, 90px, 90px);
@include image-wrapper("image-wrapper-medium", 7.5vw, 7.5vw, 45px, 45px, 75px, 75px);
@include image-wrapper("image-wrapper-small", 5vw, 5vw, 30px, 30px, 45px, 45px);
@include image-wrapper("image-wrapper-tiny", 3.5vw, 3.5vw, 20px, 20px, 35px, 35px);

// .image-wrapper {
//     width: 10vw;
//     height: 10vw;
//     min-width: 60px;
//     min-height: 60px;
//     max-width: 90px;
//     max-height: 90px;
//     box-sizing: content-box;
// }

// .image-wrapper-small {
//     width: 5vw;
//     height: 5vw;
//     min-width: 30px;
//     min-height: 30px;
//     max-width: 45px;
//     max-height: 45px;

//     &.wrapper-fixed-max {
//         width: 45px;
//         height: 45px;
//     }

//     &.wrapper-fixed-max {
//         width: 30px;
//         height: 30px;
//     }
//     box-sizing: content-box;
// }

// .image-wrapper, .image-wrapper-small {
//     img {
//         width: 100%;
//         height: 100%;
//     }
// }

.user-stats {
    font-family: 'Lucida Console', 'Courier New', Courier, monospace;

    .stats-left {
        border-bottom-left-radius: 1rem;
        border-top-left-radius: 1rem;
    }

    .stats-right {
        border-bottom-right-radius: 1rem;
        border-top-right-radius: 1rem;
    }
}

.post-liked { 
    .dislike-button {
        opacity: 0.5;

        &:hover {
            opacity : 1;
        }
    }
}

.post-disliked {
    .like-button {
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }
    }
}

@mixin nav($name, $bg_col, $bg_hover, $fg_col, $fg_hover) {
    &.#{$name} {
        border: unset;
        border-radius: 0;
        border-width: 3px;
        border-image-slice: 1;
        border-style: solid;

        background-color: $bg_col;
        color: $fg_col;

        border-image-source: linear-gradient(to top,  var(--transp) 25%, $fg_col 25%, $fg_col 75%, var(--transp) 75%);

        &:first-child {
            border-image-source: linear-gradient(to bottom, $fg_col 50%, var(--transp) 50%);
        }

        &:last-child {
            border-image-source: linear-gradient(to top, $fg_col 50%, var(--transp) 50%);
        }

        &.nav-horizontal {
            border-image-source: linear-gradient(to left,  var(--transp) 25%, $fg_col 25%, $fg_col 75%, var(--transp) 75%);

            &:first-child {
                border-image-source: linear-gradient(to right, $fg_col 50%, var(--transp) 50%);
            }

            &:last-child {
                border-image-source: linear-gradient(to left, $fg_col 50%, var(--transp) 50%);
            }
        }

        &.active {
            background-color: $bg_hover;
            color: $fg_hover;
        }
    }
}

.nav {
    &.nav-pills {
        .nav-link {            
            @for $i from 1 through $nButtons {
                @include nav("nav-#{$i}", var(--btn-bg-#{$i}), var(--btn-bg-#{$i}-h), var(--btn-fg-#{$i}), var(--btn-fg-#{$i}-h));
                // &.nav-#{$i} {
                //     border: unset;
                //     border-radius: 0;
                //     border-width: 3px;
                //     border-image-slice: 1;
                //     border-style: solid;

                //     background-color: var(--btn-bg-#{$i});
                //     color: var(--btn-fg-#{$i});

                //     border-image-source: linear-gradient(to top,  var(--transp) 25%, var(--btn-fg-#{$i}) 25%, var(--btn-fg-#{$i}) 75%, var(--transp) 75%);

                //     &:first-child {
                //         border-image-source: linear-gradient(to bottom, var(--btn-fg-#{$i}) 50%, var(--transp) 50%);
                //     }

                //     &:last-child {
                //         border-image-source: linear-gradient(to top, var(--btn-fg-#{$i}) 50%, var(--transp) 50%);
                //     }

                //     &.nav-horizontal {
                //         border-image-source: linear-gradient(to left,  var(--transp) 25%, var(--btn-fg-#{$i}) 25%, var(--btn-fg-#{$i}) 75%, var(--transp) 75%);
    
                //         &:first-child {
                //             border-image-source: linear-gradient(to right, var(--btn-fg-#{$i}) 50%, var(--transp) 50%);
                //         }
    
                //         &:last-child {
                //             border-image-source: linear-gradient(to left, var(--btn-fg-#{$i}) 50%, var(--transp) 50%);
                //         }
                //     }

                //     &.active {
                //         background-color: var(--btn-bg-#{$i}-h);
                //         color: var(--btn-fg-#{$i}-h);
                //     }
                // }
            }
        }
    }
}

.btn {
    &.btn-transition-up, &.btn-transition-down {
        background-size: 100% 200%;
        transition: background-position 0.15s ease-in-out, color 0.15s ease-in-out, border 0.15s ease-in-out;
    }

    &.btn-transition-up {
        background-position: bottom;
        
        @media (pointer: fine) {
            &:hover {
                background-position: top;
            }
        }

        &.btn-inverted {
            background-position: top;

            @media (pointer: fine) {
                &:hover {
                    background-position: bottom;
                }
            }
        }
    }
    
    &.btn-transition-down {
        background-position: top;
        
        @media (pointer: fine) {
            &:hover {
                background-position: bottom;
            }
        }

        &.btn-inverted {
            background-position: bottom;
            
            @media (pointer: fine) {
                &:hover {
                    background-position: top;
                }
            }
        }
    }

    @mixin button($name, $bg_col, $bg_hover, $fg_col, $fg_hover) {
        &.#{$name} {
            background-color: $bg_col;
            color: $fg_col;
            border-color: $fg_col;
            
            &.btn-background {
                background-color: white;
            }

            img.btn-image {
                transition: filter 0.15s linear;
                filter: brightness(0);
            }
            
            &:hover {
                background-color: $bg_hover;
                color: $fg_hover;

                img.btn-image {
                    filter: brightness(0) invert(1);
                }
            }

            &.btn-transition-up {
                background-image: linear-gradient(to top, $bg_col 50%, $bg_hover 50%);
                
                &.btn-background {
                    background-image: linear-gradient(to top, white 50%, $bg_hover 50%);
                }
            }
            
            &.btn-transition-down {
                background-image: linear-gradient(to bottom, $bg_col 50%, $bg_hover 50%);
                
                &.btn-background {
                    background-image: linear-gradient(to bottom, white 50%, $bg_hover 50%);
                }
            }
        
            &.btn-inverted {
                background-color: $bg_hover;
                color: $fg_hover;
            
                img.btn-image {
                    filter: brightness(0) invert(1);
                }
                
                &:hover {
                    background-color: $bg_col;
                    color: $fg_col;
                    
                    &.btn-background {
                        background-color: white;
                    }
                    
                    img.btn-image {
                        filter: brightness(0);
                    }
                }
            }
            
            &.btn-transition-up, &.btn-transition-down {
                background-color: var(--transp);

                @media (pointer: coarse) {
                    color: $fg_col;
                    
                    &.btn-inverted {
                        color: $fg_hover;
                    }
                }
            }
        }
    }

    @for $i from 1 through $nButtons {
        @include button("btn-#{$i}", var(--btn-bg-#{$i}), var(--btn-bg-#{$i}-h), var(--btn-fg-#{$i}), var(--btn-fg-#{$i}-h))
        // &.btn-#{$i} {
        //     background-color: var(--btn-bg-#{$i});
        //     color: var(--btn-fg-#{$i});
        //     border-color: var(--btn-fg-#{$i});
            
        //     &.btn-background {
        //         background-color: white;
        //     }

        //     img.btn-image {
        //         transition: filter 0.15s linear;
        //         filter: brightness(0);
        //     }
            
        //     &:hover {
        //         background-color: var(--btn-bg-#{$i}-h);
        //         color: var(--btn-fg-#{$i}-h);

        //         img.btn-image {
        //             filter: brightness(0) invert(1);
        //         }
        //     }

        //     &.btn-transition-up {
        //         background-image: linear-gradient(to top, var(--btn-bg-#{$i}) 50%, var(--btn-bg-#{$i}-h) 50%);
                
        //         &.btn-background {
        //             background-image: linear-gradient(to top, white 50%, var(--btn-bg-#{$i}-h) 50%);
        //         }
        //     }
            
        //     &.btn-transition-down {
        //         background-image: linear-gradient(to bottom, var(--btn-bg-#{$i}) 50%, var(--btn-bg-#{$i}-h) 50%);
                
        //         &.btn-background {
        //             background-image: linear-gradient(to bottom, white 50%, var(--btn-bg-#{$i}-h) 50%);
        //         }
        //     }
        
        //     &.btn-inverted {
        //         background-color: var(--btn-bg-#{$i}-h);
        //         color: var(--btn-fg-#{$i}-h);
            
        //         img.btn-image {
        //             filter: brightness(0) invert(1);
        //         }
                
        //         &:hover {
        //             background-color: var(--btn-bg-#{$i});
        //             color: var(--btn-fg-#{$i});
                    
        //             &.btn-background {
        //                 background-color: white;
        //             }
                    
        //             img.btn-image {
        //                 filter: brightness(0);
        //             }
        //         }
        //     }
            
        //     &.btn-transition-up, &.btn-transition-down {
        //         background-color: var(--transp);

        //         @media (pointer: coarse) {
        //             color: var(--btn-fg-#{$i});
                    
        //             &.btn-inverted {
        //                 color: var(--btn-fg-#{$i}-h);
        //             }
        //         }
        //     }
        // }
    }
}

.nav-link {
    &.blink {
        animation: notifications 2.5s ease-in-out infinite;
    }
}

@keyframes notifications {
    50% { color: gold; }
}

header {
    h1 {
        font-style: italic;
        font-weight: bold;
        font-variant: all-petite-caps;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

#iscrivitiP {
    align-self: center;
    font-size: 1.5em;
}

#iscrivitiImg {
    text-align: right;
}

#alert, #alertC {
    button {
        margin-right: 3%;
        border: none;
        background-color: inherit;
        
        &:hover {
            background-color: white;
        }
    }
}

img {
    &.img-responsive {
        max-width: 100%;
        max-height: 400px;
        object-fit: scale-down;
    }
}

legend {
    font-size: inherit;
}

#fset, #intset {
    display: inline-block;
}

textarea {
    background: #fff;
}

h3 {
    font-size: initial;
}

#divCommento {
    background-color: #f8f9fa;
}

#btnTop {
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 1;
}

.comLunghi {
    word-wrap: break-word;
    line-break: anywhere;
}

footer {
    clear: both;

    img {
        max-width: 15%;
        min-width: 3%;
    }

    .footer-info {
        background-color: rgba(0, 0, 0, 0.2);
    }    
}