:root {
    --col-dark: rgb(39, 45, 53);
    --col-mid: rgb(81, 111, 150);
    --col-light: rgb(192, 207, 228);
    --col-lighter: aliceblue;
    --transp: rgba(0,0,0,0);

    --btn-fg-1: rgb(47, 0, 255);
    --btn-fg-1-h: white;
    --btn-bg-1: var(--transp);
    --btn-bg-1-h: var(--btn-fg-1);
    
    --btn-fg-2: rgb(133, 133, 133);
    --btn-fg-2-h: white;
    --btn-bg-2: var(--transp);
    --btn-bg-2-h: var(--btn-fg-2);
    
    --btn-fg-3: rgb(0, 172, 0);
    --btn-fg-3-h: white;
    --btn-bg-3: var(--transp);
    --btn-bg-3-h: var(--btn-fg-3);
    
    --btn-fg-4: rgb(255, 0, 0);
    --btn-fg-4-h: white;
    --btn-bg-4: var(--transp);
    --btn-bg-4-h: var(--btn-fg-4);
    

}

html {
    &#page-login, &#page-signup, &#page-homepage, &#page-settings {
        main {
            background-color: var(--col-lighter);
        }
    }

    &#page-login, &#page-settings {
        &, body {
            height: 100%;
        }

        body {
            display: flex;
            flex-direction: column;
        }

        main {
            flex-grow: 1;
        }
    }
}

.btn {
    &.btn-transition-up {
        background-size: 100% 200%;
        background-position: bottom;
        transition: background-image 0.3s linear, background-position 0.3s linear, color 0.3s linear, border 0.3s linear;
        
        &:hover {
            background-position: top;
        }
    }
    
    &.btn-transition-down {
        background-size: 100% 200%;
        background-position: top;
        transition: background-image 0.3s linear, background-position 0.3s linear, color 0.3s linear, border 0.3s linear;
        
        &:hover {
            background-position: bottom;
        }
    }

    &.btn-1 {
        background-color: var(--btn-bg-1);
        color: var(--btn-fg-1);
        border-color: var(--btn-fg-1);
        
        &:hover {
            background-color: var(--btn-bg-1-h);
            color: var(--btn-fg-1-h);
            border-color: var(--btn-fg-1-h);
        }

        &.btn-transition-up {
            background-image: linear-gradient(to top, var(--btn-bg-1) 50%, var(--btn-bg-1-h) 50%);
        }

        &.btn-transition-down {
            background-image: linear-gradient(to bottom, var(--btn-bg-1) 50%, var(--btn-bg-1-h) 50%);
        }
    }

    &.btn-2 {
        background-color: var(--btn-bg-2);
        color: var(--btn-fg-2);
        border-color: var(--btn-fg-2);
        
        &:hover {
            background-color: var(--btn-bg-2-h);
            color: var(--btn-fg-2-h);
            border-color: var(--btn-fg-2-h);
        }

        &.btn-transition-up {
            background-image: linear-gradient(to top, var(--btn-bg-2) 50%, var(--btn-bg-2-h) 50%);
        }

        &.btn-transition-down {
            background-image: linear-gradient(to bottom, var(--btn-bg-2) 50%, var(--btn-bg-2-h) 50%);
        }
    }

    &.btn-3 {
        background-color: var(--btn-bg-3);
        color: var(--btn-fg-3);
        border-color: var(--btn-fg-3);
        
        &:hover {
            background-color: var(--btn-bg-3-h);
            color: var(--btn-fg-3-h);
            border-color: var(--btn-fg-3-h);
        }

        &.btn-transition-up {
            background-image: linear-gradient(to top, var(--btn-bg-3) 50%, var(--btn-bg-3-h) 50%);
        }

        &.btn-transition-down {
            background-image: linear-gradient(to bottom, var(--btn-bg-3) 50%, var(--btn-bg-3-h) 50%);
        }
    }

    &.btn-4 {
        background-color: var(--btn-bg-4);
        color: var(--btn-fg-4);
        border-color: var(--btn-fg-4);
        
        &:hover {
            background-color: var(--btn-bg-4-h);
            color: var(--btn-fg-4-h);
            border-color: var(--btn-fg-4-h);
        }

        &.btn-transition-up {
            background-image: linear-gradient(to top, var(--btn-bg-4) 50%, var(--btn-bg-4-h) 50%);
        }

        &.btn-transition-down {
            background-image: linear-gradient(to bottom, var(--btn-bg-4) 50%, var(--btn-bg-4-h) 50%);
        }
    }

    &.btn-1, &.btn-2, &.btn-3, &.btn-4 {
        &.btn-transition-up, &.btn-transition-down {
            background-color: var(--transp);
        }
    }
    // TODO: 3 bottoni per like, dislike, commento
    // TODO: sezione crea post con bottoni btn-1 e btn-2
    // Bottone commenta in sezione commento con btn-1
}

a {
    text-decoration: none;
    color: inherit;
}

#iscrivitiP {
    align-self: center;
    font-size: 1.5em;
}

#iscrivitiImg {
    text-align: right;
}

#alert, #alertC {
    button {
        margin-right: 3%;
        border: none;
        background-color: inherit;
        
        &:hover {
            background-color: white;
        }
    }
}

img {
    &.img-responsive {
        max-width: 100%;
        max-height: 400px;
        object-fit: scale-down;
    }
}

legend {
    font-size: inherit;
}

#fset, #intset {
    display: inline-block;
}

textarea {
    background: #fff;
}

h3 {
    font-size: initial;
}

#divCommento {
    background-color: #f8f9fa;
}

#btnTop {
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 1;
}

.card-footer {
    background-color: darkgray;
}

.comLunghi {
    word-wrap: break-word;
    line-break: anywhere;
}

footer {
    clear: both;

    img {
        max-width: 15%;
        min-width: 3%;
    }

    .footer-info {
        background-color: rgba(0, 0, 0, 0.2);
    }    
}