footer{
    clear: both;
}

a{
    text-decoration: none;
    color: inherit;
}

header>img{
    width: 15%;
    height: 15%;
}

#iscrivitiP{
    align-self: center;
    font-size: 1.5em;
}

#iscrivitiImg{
    text-align: right;
}

#alert button{
    margin-right: 3%;
    border: none;
    background-color: inherit;
}

#alert button:hover{
    background-color: white;
}

#last_elem {
    background-color: rgba(0,0,0,0.2);
}

legend{
    font-size: inherit;
}

#fset, #intset{
    display: inline-block;
}

textarea{
    background: #fff;
}

main{
    background-color: orange;
}

h3{
    font-size: initial;
}

#divCommento{
    background-color: #f8f9fa;
}

#btnTop{
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 1;
}

.card-footer{
    background-color: darkgray;
}

.comLunghi{
    word-wrap: break-word;
    line-break: anywhere;
}

.responsive {
    max-width: 100%;
    max-height: 400px;
    object-fit: scale-down;
}

footer img{
    max-width: 15%;
    min-width: 3%;
}


